= image_tag @post.image.url(:medium)
%h1= @post.title
%p= @post.link
%p= @post.description

#comments
	%h2= pluralize(@post.comments.count, "Comment")
	- @comments.each do |comment|
		= comment.content
		= comment.user.name

	%h3 Reply to thread
	= render "comments/form"

= link_to "Edit", edit_post_path(@post)
= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }